@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}
.padre{ 
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno{
    padding: 0 50px;
}
/*menú*/
.header{
    background: url(../imagenes/FONDO\ NOSOTROS2.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        background: rgba(0,0,0,.1);
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        align-items:center;
        border-bottom: 1px solid rgb(255,255,255,.5);
    }

        .logo{
            flex: 1 1 auto; 
        }
            .logo a{
                color: white;
                font-size: 30px;
               
            }
            
            .logo a:hover{

                color: #343434;
            }
            
        .nav{
           
            flex: 5 1 auto;
            
        }
            .nav a{
                color: white;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;

            }

                .nav a:hover{
                    color: #343434;
                }

        .social{
            flex: 1 1 auto; 
            display: flex;
            
        }
            .social a{
                font-size: 18px;
                color: white;
                padding: 0 5px;
            }
            
                .social a:hover{
                    color: #343434;
                }
    .texto-principal{

       
        height: 400px;
        display: flex;
        align-items: center;
    }
        h1{
            
            font-family: 'Lato', sans-serif;
            font-size: 21px;
            color: white;
            font-weight: 300;
            text-align: center;
            line-height: 1.6;

        }

 /*cuestionario*/
        .section{

            background-color: blueviolet;
        }
        .cuestionario {

        color: black;
         text-shadow: 0.1em 0.1em 0.2em black;
         padding: 5px;
         margin: 20px;
        font-size: 30px; 
        }

        

        .cuadros{
            text-align:justify;
            margin-top: 2px;
        }
       
    form {border: 2px solid gray;width: 90%;margin: auto;border-radius: 10px;}
	fieldset{border-width: 1px;margin: 10px; border-radius: 5px;}
    legend{font-weight: bold;}
	  input, textarea, select, option {
      font: 1rem 'Calibri', sans-serif;
      border: 1px #aaa solid;
      border-radius: 3px;
      color: #666;
    }
    input:focus, textarea:focus, select:focus {
      background: lavender;
      border: 1px solid black;
      color: black;
    }
    
    :required {
      border: 1px solid tomato;
    }
    
    input[type='button'] {
      background: tomato;
      color: white;
      border: none;
      padding: 5px 10px;
      font-weight: bold;
    }
    input[type='submit']:hover {
      background: rgb(36, 15, 56);
    }
    
    input[type='reset'] {
      background: white;
      color: grey;
      border: 1px solid rgb(30, 11, 48);
      padding: 5px 10px;
      font-weight: bold;
    }
    input[type='reset']:hover {
      background: #ddd;
      color: black;
    }

    .footer{
        background: #000;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }
    .pie{
                
        text-align: center;
        }
        
    .pie a{
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
            }

@media screen and (min_width: 500px) {

    .menu.margen-interno {
        background: rgba(0,0,0,.1);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
        align-items:center;
        border-bottom: 1px solid rgb(255,255,255,.5);
    }

    .margen-interno{
        padding: 0
        ;
    }
    
}

@media screen and (max-width: 500px){

    .aside{
        flex-direction: column;
    }
  
    .articulos{
        flex-direction: column;
       
    }

    .articulosn {
        
        flex-flow: column;
   
    }

    .articulosp {
        flex-flow: column;
    }

    .pie a{
       flex-flow: row ;
       font-size: 10px;
       
    }

}